@import "tailwindcss";

@theme {
  --color-port-1: #e6e6e6;
  --color-port-2: #5a7fc4;
  --color-port-3: #636363;
  --color-port-4: #afafaf;

  --font-sans: var(--font-inter);
  --font-serif: var(--font-crimson-text);
  --font-mono: var(--font-ibm-plex-mono);
}
